{% extends 'base.html' %}
{% load static %}
{% block title %} Regulamin Konwentu {% endblock %}

{% block content %}
    <section style="padding-top: 80px;">



    <main id="content">
    <div class="row clearfix">
        <div class="container" style="text-align: center; max-width: 800px; margin: 0 auto; padding: 20px;">
            <h1>REGULAMIN</h1>
            <h2>Popularnonaukowego Konwentu Fantastyki „LUSTRO"</h2>

            <h3>§ 1</h3>
            <p>Niniejszy Regulamin określa zasady obowiązujące na Popularnonaukowym Konwencie Fantastyki „Lustro",
                zwanym
                dalej „Konwentem", a także konsekwencje wynikające z niedochowania tych obowiązków.</p>

            <h3>§ 2</h3>
            <p>Konwent odbywa się na dziedzińcach oraz w budynkach Uniwersytetu Warszawskiego pod adresami <strong>ul.
                Krakowskie Przedmieście 26/28</strong> oraz <strong>ul. Krakowskie Przedmieście 3</strong> w Warszawie w
                dniach <strong>30-31 sierpnia 2025 r.</strong></p>

            <h3>§ 3</h3>
            <ol>
                <li>Głównymi organizatorami Konwentu są Koło Społeczne Fantastyki i Gier Uniwersytetu Warszawskiego oraz
                    Zarząd Samorządu Studentów Uniwersytetu Warszawskiego, zwanymi dalej „Organizatorami".
                </li>
                <li>W trakcie trwania Konwentu Organizatorów reprezentują Koordynatorzy, którzy składają się z Głównego
                    Koordynatora oraz pozostałych Koordynatorów.
                </li>
                <li>W trakcie trwania Konwentu obsługą, w tym udzielaniem informacji według swojej najlepszej wiedzy,
                    zajmują się Wolontariusze, których obecność w trakcie wydarzenia reguluje § 8.
                </li>
                <li>Podczas wydarzenia Koordynatorzy i Wolontariusze będą oznaczeni w widoczny i jednoznaczny sposób.
                </li>
                <li>Głównym Koordynatorem Wydarzenia jest <strong>Julita Pietroń</strong>, a w przypadku jej
                    nieobecności
                    osoba przez nią wskazana.
                </li>
                <li>Wszelkie sprawy wymagające interwencji Organizatora należy niezwłocznie zgłaszać do Koordynatorów.
                </li>
            </ol>

            <h3>§ 4</h3>
            <ol>
                <li>Uczestnikiem Konwentu, zwanym dalej „Uczestnikiem", jest osoba, która posiada opaskę uczestnika
                    wydawaną
                    na stoisku akredytacji.
                </li>
                <li>Do pobrania opaski upoważnia zgłoszenie się poprzez wypełnienie formularza zgłoszeniowego
                    umieszczonego
                    na stronie internetowej, pod wskazanym przez Organizatora adresem, oraz otrzymana drogą mailową
                    wiadomość potwierdzająca otrzymanie darmowego biletu wstępu na wydarzenie.
                </li>
                <li>Uczestnik ma obowiązek okazać bilet wstępu, o którym mowa w ust. 2, na stoisku akredytacji, zaś
                    opuszczając teren wydarzenia, zeskanować kod QR umieszczony na bramie uniwersyteckiej przy wyjściu.
                </li>
                <li>Uczestnik ma obowiązek nosić opaskę otrzymaną na stoisku akredytacji, jako identyfikator. Osoby bez
                    opaski nie będą traktowane jako Uczestnicy.
                </li>
                <li>Uczestnik, składając wypełniony formularz zgłoszeniowy, jednocześnie potwierdza, iż zapoznał się z
                    niniejszym Regulaminem i akceptuje jego postanowienia.
                </li>
                <li>Uczestnikami są również Wystawcy i Twórcy Programu opisani w § 21, dalej zwani „Gośćmi".</li>
                <li>Organizator zastrzega sobie prawo odmowy wpuszczenia Uczestnika na teren Konwentu bez podawania
                    uzasadnienia.
                </li>
                <li>Osoby nieprzestrzegające postanowień Regulaminu mogą zostać usunięte z Konwentu decyzją
                    Organizatorów.
                </li>
            </ol>

            <h3>§ 5</h3>
            <ol>
                <li>Osoby niepełnoletnie mogą uczestniczyć w Konwencie pod warunkiem przyjścia z osobą pełnoletnią,
                    zwaną
                    dalej „Opiekunem", oraz spełnienia warunków uczestnictwa, o których mowa w § 4.
                </li>
                <li>Odpowiedzialność za osoby niepełnoletnie na wydarzeniu ponosi ich Opiekun.</li>
                <li>Uczestnicy poniżej 12. roku życia mają obowiązek być pod stałą opieką Opiekuna i nie mogą przebywać
                    w
                    Konwencie samodzielnie.
                </li>
                <li>Jedynie Uczestnicy powyżej 12. roku życia mogą przebywać bez Opiekuna w strefie rekreacji, co nie
                    zwalnia Opiekuna z ponoszenia odpowiedzialności za taką osobę.
                </li>
            </ol>

            <h3>§ 6</h3>
            <p>Podczas Konwentu Uczestnicy zobowiązani są do stosowania się do poleceń Organizatorów, Koordynatorów oraz
                Wolontariuszy.</p>

            <h3>§ 7</h3>
            <ol>
                <li>Uczestnikom zabrania się wynoszenia egzemplarzy gier planszowych poza wyznaczoną strefę, a także
                    innych
                    gier i ich elementów znajdujących się w wyznaczonych strefach. Dotyczy to również wyposażenia sal,
                    chyba, że robi to Wolontariusz na specjalne polecenie Organizatora.
                </li>
                <li>Osoby wypożyczające gry mają obowiązek zgłosić wypożyczenie i zwrot gry u wyznaczonego
                    Wolontariusza.
                    Wypożyczając je, należy wpisać na listę imię i nazwisko osoby wypożyczającej, tytuł wypożyczanej gry
                    oraz dane kontaktowe. Dane są usuwane po zakończeniu Konwentu. Dane mogą zostać wykorzystane jedynie
                    przez Organizatorów tylko w celach ustalenia lokalizacji i odzyskania ewentualnych zaginionych
                    tytułów
                    gier, bądź ich elementów.
                </li>
                <li>W przypadku zgubienia się elementów wypożyczanej gry w stopniu uniemożliwiającym jej ponowne
                    wykorzystanie, podmiot, bądź osoba ją dostarczająca może dochodzić odkupienia gry, bądź jej
                    elementów
                    przez osobę odpowiedzialną za zgubienie danej rzeczy.
                </li>
                <li>W przypadku zgubienia gry, bądź jej elementu zastosowanie mają postanowienia § 18 na rzecz osoby,
                    bądź
                    podmiotu grę dostarczającego.
                </li>
            </ol>

            <h3>§ 8</h3>
            <ol>
                <li>Wolontariusze to osoby, które otrzymały potwierdzenie przyjęcia do grona Wolontariuszy po
                    wypełnieniu
                    formularza zgłoszeniowego oraz zostały wpisane na odpowiednią listę przekazaną do Uniwersyteckiego
                    Centrum Wolontariatu.
                </li>
                <li>Wolontariusz zgłaszając się do obsługi Konwentu i akceptując niniejszy Regulamin oświadcza, że jego
                    stan
                    zdrowia pozwala na uczestnictwo w Konwencie, a w przypadku szczególnych przypadłości powiadomił o
                    nich
                    Organizatora.
                </li>
                <li>Wolontariusz zobowiązany jest do dostarczenia do dnia wyznaczonego przez Organizatora właściwego
                    zaświadczenia z Krajowego Rejestru Karnego świadczącego o jego/jej niekaralności, a także Wniosku o
                    Weryfikację i Dane wymagane od osób podlegających weryfikacji zgodnie z zarządzeniem nr 114 Rektora
                    Uniwersytetu Warszawskiego z dnia 11 października 2024 r. w sprawie weryfikacji osób zatrudnianych
                    lub
                    dopuszczanych do wykonywania na Uniwersytecie Warszawskim działalności objętej ochroną małoletnich
                    (Monitor UW z 2024 r. poz. 300 z późn. zm.). Dokumenty gotowe do wypełnienia, nie wliczając
                    zaświadczenia, dostępne są u Organizatora. Weryfikacji dokonuje osoba uprawniona z Wydziału
                    Matematyki,
                    Informatyki i Mechaniki Uniwersytetu Warszawskiego, zaś dane potrzebne do weryfikacji są
                    przetwarzane
                    jedynie przez w/w jednostkę administracyjną.
                </li>
                <li>Wolontariuszami są również studenci odbywający praktyki na rzecz Organizatora.</li>
                <li>Organizator nie odpowiada za uszczerbki na zdrowiu poniesione przez Wolontariusza w wyniku
                    nieprzestrzegania Regulaminu, bądź zachowania łamiącego normy społeczne.
                </li>
                <li>Uczestnik ma obowiązek niezwłocznie poinformować Organizatora, bądź Koordynatorów, jeżeli stan
                    zdrowia
                    jego lub innej osoby biorącej udział w Konwencie uległ pogorszeniu.
                </li>
            </ol>

            <h3>§ 9</h3>
            <ol>
                <li>Organizator zapewnia na terenie wydarzenia:
                    <ol>
                        <li>dostęp do ratownika medycznego;</li>
                        <li>strażników;</li>
                        <li>przestrzeń dla Wystawców i Uczestników;</li>
                        <li>pomieszczenie dla Wolontariuszy.</li>
                    </ol>
                </li>
                <li>Organizator nie ponosi odpowiedzialności za uszczerbki na zdrowiu osób przebywających na terenie
                    Konwentu, które nie przestrzegały postanowień Regulaminu, bądź też których zachowanie łamie normy
                    społeczne.
                </li>
            </ol>

            <h3>§ 10</h3>
            <ol>
                <li>Uczestnik jest zobowiązany do posiadania i noszenia opaski pobranej ze stanowiska akredytacji.</li>
                <li>Uczestnik jest zobowiązany mieć ze sobą ważne dokumenty potwierdzające jego tożsamość oraz ważną
                    legitymację studencką – w przypadku Uczestników będących studentami Uniwersytetu Warszawskiego.
                </li>
                <li>Uczestnik ma obowiązek przestrzegania przepisów prawa powszechnie obowiązującego, postanowień
                    niniejszego Regulaminu i stosowania się do poleceń Organizatorów, Koordynatorów oraz Wolontariuszy.
                </li>
                <li>W przypadku rażącego naruszenia przez Uczestnika prawa lub niniejszego Regulaminu, Organizator może
                    zwrócić się do organów uniwersyteckich o interwencję.
                </li>
            </ol>

            <h3>§ 11</h3>
            <p>Uczestnik ma obowiązek szanować innych Uczestników, Koordynatorów i Organizatorów, a w szczególności
                Wolontariuszy, personel Uniwersytetu i gości zaproszonych przez Organizatora.</p>

            <h3>§ 12</h3>
            <ol>
                <li>Niedozwolone jest spożywanie napojów alkoholowych oraz innych substancji odurzających na terenie
                    Konwentu. Złamanie tego zakazu może skutkować wydaleniem z Konwentu.
                </li>
                <li>Niedozwolone jest palenie wyrobów tytoniowych w pokojach i na terenie budynków Uniwersyteckich.
                    Zakaz
                    obejmuje również używanie papierosów elektronicznych, e-papierosów, podgrzewaczy tytoniu oraz innych
                    podobnych urządzeń.
                </li>
                <li>W przypadku rażącego naruszania zasad obowiązujących podczas Konwentu Uczestnik wyraża zgodę na
                    poddanie
                    się, na polecenie Organizatora, badaniu na obecność alkoholu i środków odurzających we krwi, w
                    wydychanym powietrzu i innych wydzielinach organizmu. Odmowa poddania się temu badaniu jest
                    równoznaczna
                    z wydaleniem Uczestnika z Konwentu.
                </li>
                <li>Osoby pod wpływem substancji niedozwolonych mogą zostać usunięte z wydarzenia decyzją Ratownika
                    Medycznego, Ochrony (w szczególności Straży Uniwersyteckiej), Koordynatora, bądź Organizatora.
                </li>
            </ol>

            <h3>§ 13</h3>
            <p>Zakazane jest posiadanie i używanie materiałów wybuchowych, broni palnej, ostrych narzędzi lub innych
                podobnie niebezpiecznych przedmiotów, w tym broni w rozumieniu ustawy z dnia 21 maja 1999 r. o broni i
                amunicji (tekst jednolity: Dz. U. z 2024 r. poz. 485) oraz amunicji do wspomnianej broni.</p>

            <h3>§ 14</h3>
            <p>Repliki broni dopuszczone jako element cosplay mają obowiązek zostać akredytowane poprzez nałożenie
                widocznego oznaczenia przez osoby uprawnione przez Organizatora. Wszelkie przedmioty wyglądające jak
                broń,
                które nie są oznaczone i dopuszczone jako element stroju nie mogą zostać wniesione na teren
                Konwentu.</p>

            <h3>§ 15</h3>
            <p>Zakazane są zachowania nieobyczajne odbiegające od powszechnie przyjętych norm zachowania się.</p>

            <h3>§ 16</h3>
            <ol>
                <li>Niestosowanie się do obowiązków i zakazów wymienionych w niniejszym Regulaminie stanowi podstawę do
                    zastosowania następujących środków dyscyplinujących, zależnie od wagi sprawy:
                    <ol>
                        <li>upomnienie;</li>
                        <li>przekazanie kierownikowi jednostki organizacyjnej Uniwersytetu Warszawskiego, na której
                            studiuje
                            Uczestnik, bądź Opiekunowi o naruszeniu przepisów;
                        </li>
                        <li>wydalenie z Konwentu.</li>
                    </ol>
                </li>
                <li>O zastosowaniu środka dyscyplinującego, w tym także o rodzaju zastosowanego środka, decyduje Główny
                    Koordynator, bądź w przypadkach szczególnych Koordynator.
                </li>
                <li>Główny Koordynator może zdecydować o nałożeniu dowolnego środka dyscyplinującego bez uprzedniego
                    stosowania pozostałych środków.
                </li>
                <li>Główny Koordynator może zdecydować o zastosowaniu kilku lub jednocześnie wszystkich środków
                    dyscyplinujących wymienionych w ust. 1.
                </li>
            </ol>

            <h3>§ 17</h3>
            <p>Na terenie Konwentu obowiązuje zakaz blokowania, zastawiania lub siadania w ciągu dróg ewakuacyjnych.</p>

            <h3>§ 18</h3>
            <ol>
                <li>Uczestnicy ponoszą pełną odpowiedzialność (finansową i prawną) za spowodowane przez siebie w trakcie
                    Konwentu uszkodzenia mienia oraz szkody wyrządzone osobom trzecim.
                </li>
                <li>Jeżeli ustalenie tożsamości osób winnych za szkody powstałe w trakcie trwania Konwentu w danej
                    strefie
                    będzie niemożliwe, solidarną odpowiedzialność finansową ponoszą osoby przebywające w danej strefie w
                    czasie, gdy zdarzenie miało miejsce.
                </li>
                <li>W przypadku szkód o znacznej wartości Uczestnicy zobowiązani będą do zapłaty kwoty ustalonej przez
                    Uniwersytet lub firmę zapewniającą dany obiekt odpowiadającej wartości wyrządzonych szkód.
                </li>
                <li>Zapłata za szkody, o których mowa w ust. 1–3, musi zostać uiszczona najpóźniej do dwóch tygodni od
                    daty
                    Konwentu, bądź innego terminu wskazanego przez jednostkę poszkodowaną.
                </li>
            </ol>

            <h3>§ 19</h3>
            <p>Przebywanie na terenie Konwentu osób nie będących Uczestnikami, bez wcześniejszej zgody Organizatorów,
                jest
                zabronione.</p>

            <h3>§ 20</h3>
            <ol>
                <li>Organizator nie ponosi odpowiedzialności względem osób trzecich oraz względem pozostałych
                    Uczestników za
                    zachowanie Uczestników w trakcie trwania Konwentu.
                </li>
                <li>Organizator nie ponosi odpowiedzialności za treści głoszone przez Twórców Programu – są one
                    elementem
                    występu i to osoby je wygłaszające ponoszą odpowiedzialność za nie, w tym również prowadzący punkty
                    programu.
                </li>
                <li>Organizator nie sprawuje pieczy nad Uczestnikiem oraz jego mieniem w trakcie Konwentu i tym samym
                    Organizator nie ponosi odpowiedzialności za mienie Uczestnika pozostawionych w obiektach, w których
                    organizowany jest Konwent, w tym także rzeczy pozostawione przez Wolontariuszy w pokoju dla nich
                    przeznaczonym.
                </li>
            </ol>

            <h3>§ 21</h3>
            <ol>
                <li>Teren Konwentu stanowi wyznaczony przez Organizatora teren zewnętrzny na dziedzińcach Uniwersytetu
                    Warszawskiego, a także części budynku wyznaczone przez Organizatora, w tym korytarze oraz sale.
                </li>
                <li>Stoiska wystawców i innych twórców programu nie mogą zastawiać, bądź utrudniać w znacznym stopniu
                    dostępu do dróg ewakuacyjnych na terenie Konwentu.
                </li>
                <li>Za asortyment i produkty znajdujące się na stoiskach odpowiedzialność ponosi osoba, bądź podmiot
                    prowadzący dane stoisko. Wystawca może zostać poproszony o usunięcie elementów stoiska przez
                    Organizatora, jeśli budzą one niepokój innych Uczestników, bądź obrażają konkretne osoby, lub grupy
                    (np.
                    stanowią obrazę uczuć religijnych, bądź wyśmiewają osoby danej płci, lub orientacji seksualnej).
                </li>
                <li>Wystawcy stoisk gastronomicznych:
                    <ol>
                        <li>zobowiązani są do podpisania odpowiedniej umowy z Zarządem Samorządu Studentów Uniwersytetu
                            Warszawskiego oraz uiszczenia bezzwrotnej opłaty na rzecz Organizatora;
                        </li>
                        <li>zobowiązani są do poinformowania o swoich potrzebach Koordynatora ds. Technicznych, którego
                            wyznaczył Organizator w celu zapewnienia odpowiednich warunków (np. dostępu do prądu) na
                            czas
                            Konwentu;
                        </li>
                        <li>zobowiązani są do zachowania odpowiednich warunków sanitarnych i ponoszą pełną
                            odpowiedzialność
                            za uszczerbki na zdrowiu Uczestników (w tym np. zatrucia pokarmowe); w przypadku rażącego
                            braku
                            higieny, Organizator może podjąć decyzję o zamknięciu danego stoiska gastronomicznego i
                            wydalić
                            Wystawcę z Konwentu (na warunkach opisanych w § 22);
                        </li>
                        <li>wydalenie Wystawcy, bądź jego nieobecność na Konwencie nie stanowi podstawy do ubiegania się
                            o
                            zwrot kosztów poniesionych przez Wystawcę.
                        </li>
                    </ol>
                </li>
                <li>Twórcy Programu mają obowiązek poinformować Organizatora w przypadku, kiedy prowadzony przez nich
                    punkt
                    programu nie jest odpowiedni dla osób niepełnoletnich w celu zaznaczenia tego faktu w Programie
                    Wydarzenia.
                </li>
                <li>Goście oraz Wystawcy mają obowiązek przejść weryfikację taką, jak Wolontariusze oraz dostarczyć
                    dokumenty wymienione w § 8 ust. 3 z wyłączeniem Twórców Programu, którzy zaznaczą brak możliwości
                    uczestnictwa osób niepełnoletnich w swoim punkcie programu. W takim wypadku to na Gościach spoczywa
                    obowiązek weryfikacji wieku Uczestników obecnych na prowadzonym przez nich Punkcie Programu i
                    Organizator nie ponosi odpowiedzialności za osoby poniżej 18 r. ż., które zostały dopuszczone na
                    dany
                    punkt programu.
                </li>
                <li>Goście ponoszą pełną odpowiedzialność za swoje treści i zgłaszając swój udział w programie
                    zobowiązują
                    się do przygotowania ich z należytą starannością, w tym, do sprawdzenia prawdziwości głoszonych
                    przez
                    siebie informacji i jakości asortymentu wystawianego na stoiskach. Organizator nie ponosi
                    odpowiedzialności za treści głoszone przez gości.
                </li>
            </ol>

            <h3>§ 22</h3>
            <p>Wydalenie Uczestnika z Konwentu jest jednoznaczne z koniecznością opuszczenia terenu Konwentu przez
                wydalonego Uczestnika. W takiej sytuacji Organizator nie zapewnienia wydalonemu Uczestnikowi możliwości
                powrotu na Konwent, zaś informacja na ten temat przekazywana jest osobom obecnym na akredytacji poprzez
                udostępnienie wizerunku oraz biletu osobom znajdującym się na akredytacji.</p>

            <h3>§ 23</h3>
            <p>Organizator nie ponosi odpowiedzialności za zmiany w programie spowodowane działaniem siły wyższej lub
                nieprzewidziane wypadki losowe, w tym za odwołanie punktu programu z inicjatywy Gości. Wystawcy
                odwołujący
                swój udział w przypadku najmu namiotu nie otrzymują zwrotu ceny najmu takiego obiektu ze strony
                Organizatora.</p>

            <h3>§ 24</h3>
            <ol>
                <li>Uczestnik wyraża zgodę na fotografowanie i nagrywanie (wideo) w okresie trwania Konwentu przez osoby
                    do
                    tego celu wyznaczone przez Organizatora.
                </li>
                <li>Uczestnik wyraża zgodę na publikacje zdjęć i materiałów filmowych przez Organizatora w celu
                    przekazania
                    ich Uczestnikom Konwentu, stworzenia galerii zdjęć z Konwentu na portalu społecznościowych
                    Organizatora
                    i stronie internetowej Organizatora. Zdjęcia będą dostarczone w postaci elektronicznej, do pobrania
                    przez wszystkich Uczestników w serwisie Facebook oraz na nośnikach wybranych przez osoby zajmujące
                    się
                    uwiecznieniem wizerunku Uczestników podczas Konwentu.
                </li>
                <li>Uczestnik akceptując niniejszy Regulamin wyraża zgodę na przetwarzanie swoich danych osobowych w
                    procesie realizacji i organizacji Konwentu – zgodnie z Rozporządzeniem Parlamentu Europejskiego i
                    Rady
                    (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z
                    przetwarzaniem
                    danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchyleniem dyrektywy 95/46/WE
                    (ogólne rozporządzenie o ochronie danych).
                </li>
                <li>Organizator i współorganizator celem zapewnienia sprawnej organizacji Konwentu oraz bezpieczeństwa
                    wszystkich Uczestników może wymagać podania przez Uczestników m.in. następujących danych osobowych:
                    imię, nazwisko, data urodzenia, wizerunek (zdjęcie), numer telefonu, adres e-mail, numer telefonu
                    osoby
                    kontaktowej.
                </li>
                <li>Dane osobowe Uczestnika nie będą poddawane automatycznemu przetwarzaniu danych ani profilowaniu.
                </li>
                <li>Uczestnik ma prawo dostępu do treści swoich danych oraz ich poprawiania, wycofania zgody na ich
                    przetwarzanie w każdym czasie. Dane osobowe Uczestnika będą przechowywane przez Organizatora i
                    współorganizatora nie dłużej niż przez okres 5 lat.
                </li>
                <li>Podanie danych osobowych przez Uczestnika jest dobrowolne, ale niezbędne do wzięcia udziału w
                    Konwencie,
                    co Uczestnik akceptuje.
                </li>
            </ol>

            <h3>§ 25</h3>
            <p>Uczestnik wyraża zgodę na przesyłanie wiadomości informacyjnych oraz wiadomości dotyczących organizacji
                kolejnych wydarzeń organizowanych przez Organizatora w formie poczty elektronicznej (e-mail) zgodnie z
                ustawą z dnia 18 lipca 2002 r. o świadczeniu usług drogą elektroniczną (tekst jednolity: Dz. U. z 2020
                r.
                poz. 344).</p>

            <h3>§ 26</h3>
            <ol>
                <li>W szczególnie uzasadnionych przypadkach Organizator zastrzega sobie prawo do zmiany terminu lub
                    odwołania Konwentu.
                </li>
                <li>W przypadku zmiany terminu nie przysługuje możliwość zwrotu poniesionych kosztów Konwentu.</li>
                <li>W przypadku odwołania Konwentu z powodu siły wyższej, na którą Organizator nie miał wpływu,
                    Uczestnikowi
                    może przysługiwać częściowy zwrot poniesionych kosztów Konwentu (dot. Wystawców gastronomicznych). W
                    takiej sytuacji Organizator będzie dążył do całkowitego zwrotu kosztów.
                </li>
                <li>O zmianie terminu lub odwołaniu Konwentu, o których mowa w ust. 1, Organizator jest zobowiązany
                    niezwłocznie poinformować Uczestników. Informacja zostanie przesłana na wskazany przez Uczestnika
                    adres
                    e-mail oraz upubliczniona w serwisie Facebook.
                </li>
            </ol>

            <h3>§ 27</h3>
            <ol>
                <li>Organizator zastrzega sobie prawo do zmian w niniejszym Regulaminie i programie.</li>
                <li>Organizator ma obowiązek niezwłocznie poinformować Uczestników o wszelkich ewentualnych zmianach w
                    niniejszym Regulaminie.
                </li>
            </ol>

            <h3>§ 28</h3>
            <ol>
                <li>Koordynatorów, Wolontariuszy i Gości obowiązują przepisy zawarte w niniejszym Regulaminie.</li>
                <li>Koordynatorzy, Wolontariusze i Goście mają obowiązek przestrzegania przepisów prawa powszechnie
                    obowiązującego, postanowień niniejszego Regulaminu i stosowania się do poleceń Organizatorów.
                </li>
                <li>W przypadku niezastosowania się przez Koordynatorów, Wolontariuszy i Gości do zasad określonych w
                    ust. 1
                    i 2 Koordynator Główny Konwentu może zastosować w stosunku do tych osób środki dyscyplinujące, o
                    których
                    mowa w § 15 ust. 1, zgodnie z zasadami, o których mowa w § 16 ust. 1–4, z wyłączeniem możliwości
                    zastosowania środków dyscyplinujących z polecenia Koordynatora (decyzję o zastosowaniu takich
                    środków
                    podjąć może tylko Organizator, bądź Koordynator Główny Wydarzenia).
                </li>
                <li>Koordynatorzy, Wolontariusze i Goście zobowiązani są do wypełnienia we wskazanym terminie wskazanego
                    przez Organizatora formularza odpowiadającego funkcji, jakej podejmuje się dana osoba.
                </li>
            </ol>

            <h3>§ 29</h3>
            <p>Organizator może w szczególnie uzasadnionych przypadkach zdecydować o niestosowaniu niniejszego
                Regulaminu w
                odniesieniu do konkretnej sytuacji lub osoby.</p>

            <h3>§ 30</h3>
            <p>W kwestiach nieuregulowanych Regulaminem ostateczna decyzja należy do Organizatora.</p>

            <h3>§ 31</h3>
            <p>Wykładni niniejszego Regulaminu dokonuje Organizator.</p>

            <hr>
            <p><strong>Data wydarzenia:</strong> 30-31 sierpnia 2025 r.</p>
            <p><strong>Lokalizacja:</strong> Uniwersytet Warszawski, ul. Krakowskie Przedmieście 26/28 oraz ul.
                Krakowskie
                Przedmieście 3</p>
        </div>
    </div>
    </main>
    </section>
{% endblock %}