{% extends 'base.html' %}
{% load static %}
{% block title %} Regulamin Konwentu {% endblock %}

{% block content %}

    <main id="content">
        <section id="rules" class="scrollto">

            <h2 class="section-title wow fadeInLeft" data-wow-delay="0.5s"
                style="padding-top: 200px; padding-bottom: 160px;">Regulaminy:</h2>

            <div class='rules-img'>
                <div class="item">
                    <img src="{% static 'images/lustro_monichromatic.png' %}" class="wow fadeInLeft" data-wow-delay="0.70s"/>
                    <a href="{% static '/images/Regulamin Konwentu-3.pdf' %}" target="_blank" class="wow fadeInLeft cssbuttons-io-button" data-wow-delay="0.1s">
                        <svg
                                class="text-gray-800 dark:text-white"
                                aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24">
                            <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M5 17v-5h1.5a1.5 1.5 0 1 1 0 3H5m12 2v-5h2m-2 3h2M5 10V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1v6M5 19v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-1M10 3v4a1 1 0 0 1-1 1H5m6 4v5h1.375A1.627 1.627 0 0 0 14 15.375v-1.75A1.627 1.627 0 0 0 12.375 12H11Z"
                            />
                        </svg>
                        PNKF "Lustro"
                    </a>
                </div>
                <div class="item">
                    <img src="{% static 'images/mimik.png' %}" class="wow fadeInLeft" data-wow-delay="0.70s"/>
                    <a href="" class="wow fadeInLeft cssbuttons-io-button" data-wow-delay="0.1s">
                        <svg
                                class="text-gray-800 dark:text-white"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24">
                            <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M5 17v-5h1.5a1.5 1.5 0 1 1 0 3H5m12 2v-5h2m-2 3h2M5 10V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1v6M5 19v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-1M10 3v4a1 1 0 0 1-1 1H5m6 4v5h1.375A1.627 1.627 0 0 0 14 15.375v-1.75A1.627 1.627 0 0 0 12.375 12H11Z"
                            />
                        </svg>
                        Minikonwent Fantastyki "Mimik"
                    </a>
                </div>
                <div class="item" style="padding-bottom: 160px;">
                    <img src="{% static 'images/Nowe_Logo__Napis_CzernBiel.png' %}" class="wow fadeInLeft" data-wow-delay="0.70s"/>
                    <a href="{% static 'images/Regulamin KFiG UW - od 21.02.25.pdf' %}" target="_blank" class="cssbuttons-io-button wow fadeInLeft" data-wow-delay="0.1s">
                        <svg
                                class="text-gray-800 dark:text-white"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24">
                            <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M5 17v-5h1.5a1.5 1.5 0 1 1 0 3H5m12 2v-5h2m-2 3h2M5 10V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1v6M5 19v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-1M10 3v4a1 1 0 0 1-1 1H5m6 4v5h1.375A1.627 1.627 0 0 0 14 15.375v-1.75A1.627 1.627 0 0 0 12.375 12H11Z"
                            />
                        </svg>


                        Koło Fantastyki i Gier Uniwersytetu Warszawskiego
                    </a>
                </div>
            </div>

        </section>
    </main>

{% endblock %}


